.App {
  height: 100%; /* שומר על גובה מלא */
  width: 100%; /* רוחב מלא */
  margin: 0; /* מסיר ריווחים חיצוניים */
  display: flex;
  flex-direction: column; /* מבנה עמודה: header, main, footer */
}

.header {
  width: 100%; /* רוחב מלא */
  height: 10vh; /* גובה מותאם לפי גובה מסך */
  background-color: #f5f5f5; /* צבע רקע מותאם */
}


.footer {
  display: flex;
  align-items: center; /* מיקום אנכי של תוכן */
  justify-content: center; /* מיקום אופקי של תוכן */
  width: 100%; /* רוחב מלא */
  height: 10vh; /* התאמה לגובה */
  background-color: #e0e0e0; /* צבע רקע מותאם */
}
